<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.eloitteproject">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.EloitteProject">
        <activity
            android:name=".StudentGoalsDetailActivity"
            android:exported="true" />
        <activity
            android:name=".StudentGoalsActivity"
            android:exported="true" />
        <activity
            android:name=".StudentMeditationDetailActivity"
            android:exported="true" />
        <activity
            android:name=".StudentPersonalityQuizDetailActivity"
            android:exported="true" />
        <activity
            android:name=".StudentProfileActivity"
            android:exported="true" />
        <activity
            android:name=".StudentMeditationHomeActivity"
            android:exported="true" />
        <activity
            android:name=".StudentLeaderboardActivity"
            android:exported="true" />
        <activity
            android:name=".StudentDashboardActivity"
            android:exported="true" />
        <activity
            android:name=".StudentPersonalityQuizHomeActivity"
            android:exported="true" />
        <activity
            android:name=".StudentCheckInActivity"
            android:exported="true" />
        <activity
            android:name=".TeacherHomeActivity"
            android:exported="true" />
        <activity
            android:name=".StudentHomeActivity"
            android:exported="true" />
        <activity
            android:name=".RegisterActivity"
            android:exported="true" />
        <activity
            android:name=".LoginActivity"
            android:exported="true" />
        <activity
            android:name=".SplashScreenActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>